.Frontpage {
  text-align: center;
}

 .Frontpage-logo {
  height: 40vmin;
} 

.Frontpage-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



